<div>
 <dl>
  {% if 'local_call_number' in item %}
  <dt>Local Call Number</dt>
  <dd>{{ item['local_call_number'] }}</dd>
  {% else %}
   {% if 'lc_call_number' in item %}
   <dt>Call Number</dt>
   <dd>{{ item['lc_call_number'] }}</dd>
   {% else %}
   {% endif %}
  {% endif %}
  {% if 'publisher' in item %}
   <dt>Publisher</dt>
   <dd>{{ item['publisher'] }}
   {% if 'place' in item %}
    {{ item['place'] }}
   {% endif %}
   </dd>
  {% endif %}
  {% if 'pages' in item %}
   <dt>Pages</dt>
   <dd>{{ item['pages'] }}</dd>
  {% endif %}
  {% if 'isbn' in item %}
   <dt>ISBN</dt>
   <dd>{{ item['isbn'] }}</dd>
  {% endif %}
  {% if 'description' in item %}
   <dt>Physical description</dt>
   <dd>{{ item['description'] }}</dd>
  {% endif %}
  </dl>
</div>
